/* Use Variables */

/* import Google Fonts */

/* Since bootstrap is involved use the !important syntax */


@import url('https://fonts.googleapis.com/css?family=DM+Sans|DM+Serif+Display|Lato|Oswald:300|Roboto+Condensed&display=swap');

/* Variables for whole page use root */
:root{
  --primaryColor: #5fb7ea;
  --primaryRGBA: rgba(48, 67, 180, 0.4);
  --primaryYellow: #cfcc23;
  --mainGrey: grey;
  --mainRed: red;
  --darkGrey: #5f5e5e;
  --mainWhite: white;
  --mainBlue: blue;
  --mainBlack: black;
  --mainTransition: all 0.3s ease-in-out;
  --mainSpacing: 0.3rem;
}

.text-title{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  letter-spacing: var(--mainSpacing);
  text-transform: uppercase;
}

.text-main{
  color: var(--primaryColor);
}

body{
  font-family: "Roboto" !important;
  background: var(--mainWhite) !important;
  color: var(--main) !important;
}

.main-link{
  padding: 0.5rem 1rem;
  background: var(--primaryColor);
  color: var(--mainWhite);
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  outline: 2px solid var(--primaryColor);
  outline-offset: 4px;
  border: none;
  transition: var(--mainTransition);
}
.main-link:hover{
 background: var(--darkGrey);
 text-decoration: none;
 color: var(--primaryColor);
 outline-color: var(--darkGrey);
}
.cart-icon{
  cursor: pointer;
}